@import url('https://fonts.googleapis.com/css?family=Archivo+Black'); /*I followed a tutorial to get a text animation, this is the website for it */





td {
  

  padding: 15px;
  padding-top: 20px;
}

.IMG{
  

  margin-left: auto;
  margin-right: auto;
  
}


body{

  text-align: center;

  background-image: url(Background5.gif); /*All gif images are from https://giphy.com/ */
  background-repeat: repeat-x;
  background-color: black;

  color: wheat;
}

.Input_Box{

  

  padding: 100px;
  margin-left: auto;
  
  
}



button{

  margin:10px;

  border-radius: 12px;

  font-size: larger;
  font-family: fantasy;
  
  color: black;
  border: 5px solid blanchedalmond;
}


button:hover{

background-color:aqua;


}

input[type=text]{

  
  color: wheat;
  border-radius: 15px;
  font-size: large;

  margin: 20px;

  border: 5px solid white;

 
padding: 15px;
background: rgba(255,255,255,0.1);
margin: 0 0 10px 0;

  
}

input[type=text]:focus{

border:3px solid rgba(0,0,0,0.1);
border-radius: 5px;
background-color: rgba(255,255,255,0.7);
color: black;
font-size: large;

}

.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

.gang{

  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}

#Output_Table{
  display: none;
}

