.Picture{



}




td {
  

  padding: 15px;
  padding-top: 20px;
}

.IMG{
  

  margin-left: auto;
  margin-right: auto;
  
}


body{

  text-align: center;

  background-image: url(ezgif.com-resize.gif);
  background-repeat: no-repeat;
  background-color: black;

  color: wheat;
}

.Input_Box{

  

  padding: 100px;
  margin-left: auto;
  
}



button{

  margin:10px;
}